.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  background-origin: border-box;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
  background-size: 877px;
  width: 877px;
  height: 877px;
}
